<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easylearnsce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/openingscreen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyLearnSCE"
        android:usesCleartextTraffic="true">
        <activity android:name=".Client.User.GenericYouTubePlayer" />
        <activity android:name=".Client.User.AllRequests" />
        <activity android:name=".Client.User.Requests" />
        <activity android:name=".Client.User.Message" />
        <activity android:name=".Client.User.EasyLearnChat" />
        <activity android:name=".Client.User.Profile" />
        <activity android:name=".Client.User.GenericCourse" />
        <activity android:name=".Client.User.ChangePassword" />
        <activity android:name=".Client.User.GenericEngineering" />
        <activity android:name=".Client.User.SelectEngineering" />
        <activity android:name=".Client.User.Home" />
        <activity android:name=".Client.Guest.EasyLearnSCE" />
        <activity android:name=".Client.Guest.Contact" />
        <activity android:name=".Client.Guest.About" />
        <activity android:name=".Client.Guest.CreateAccount" />
        <activity android:name=".Client.Guest.SignIn" />
        <activity android:name=".Client.Guest.ResetPassword" />
        <activity android:name=".Client.Guest.OpenScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>